/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background-color: #fafafa;
}

.successes_mes{
    color: green;
    font-size: 25px;
}
.main_title{
    text-align: center;
}
.posts-container{
    
}
.post{
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    width: 30%;
    background-color: white;
    color: rgba(var(--f75,38,38,38),1);
    margin: 5px auto;
    
}
.post p{
    margin: 5px;
}
.post a{
    text-decoration: none;
}
.title{
    font-size: 25px;
    margin: 10px 5px;
}
.image{
    width: 100%;
    height: auto;
}
.image img{
    width: 100%;
    height: auto;
}
.body{

}
.date{

}
.new{
    background-color: white;
    padding: 5px;
    display: inline-block;
    border-radius: 15px;
    font-size: 25px;
}
a{
    text-decoration: none;
}
.name_likes{
   
}
.index_title{
    display: inline-block;
}
.likes{
    float: right;
    margin: auto 5px;
    
}
.pagination{
    text-align: center;
    font-size: 25px;
    color: white
}
.pagination a{
    text-decoration: none;
    color: white
}
.pagination a:hover{
    text-decoration: none;
    color: blue
}